[Unit]
Description=LightRAG XYJ Ollama Service
After=network.target

[Service]
Type=simple
User=netman
# Memory settings
MemoryHigh=8G
MemoryMax=12G
WorkingDirectory=/Users/Shared/ssd/Work/lightrag-poc/lightrag-server
ExecStart=/Users/Shared/ssd/Work/lightrag-poc/lightrag-server/lightrag-api
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
